<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--start codes-->
<div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt=""/>
        <h1 class="user__title">From Here You Can Query, Update And Delete Information.</h1>
    </header>
    <form th:method="post" th:action="@{/credit/status}" th:object="${key_identity}" class="form" >
        <input th:field="*{personIdentificationNumber}" type="text" class="form__input" th:placeholder="#{personIdentificationNumber}">
        <table>
            <tr>

                <button class="btn" style="width:32%" type="submit" th:formaction="@{/person/update}" th:formmethod="post">Update</button>
                <button class="btn" style="width:32%" type="submit" th:formaction="@{/person/delete}" name="_method" value="delete"> Delete </button>
                <button class="btn" style="margin-right: 0px; width: 32.5%" type="submit" th:formmethod="post">Credit Status</button>
            </tr>
        </table>
    </form>
</div>
<!--end codes-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>